
body::before{
    display: block;
    content: '';
    height: 60px;
}
body{
    font-family: 'sans-serif';
    font-size: 16px;
}

section{
    padding-top: 80px;
    min-height: 100vh;
    /* min-width: 100vh; */
    background-color: #160d27ff
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(211, 211, 211, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' fill='none' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

th{
    white-space: nowrap
}

.no-wrap{
    white-space: nowrap   
}


.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}